*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #404347;
    margin: 1em;
}
body{
    background-color: #fafafa;
}   
.menu{
    display: inline-flex;
}
.logo{
    height: 8em;
    width: 8em;
    vertical-align: middle;
    display: inline-block;
}

.page_nav_header{
    display: flex;
    justify-content: space-evenly;
}

.nav_links {
    display: inline-flex;
}

.nav_link_button button{
    vertical-align: top;
    background-color: #e7e7e7;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    float: left;
    justify-content: space-around;
}

.header_icons{ 
    display: inline-flex;
}
.filters{
    display: inline-grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
}

.filter_colour{
    grid-column-start: 1;
    grid-row: 1;
}

.filter_size{
    grid-column-start: 2;
    grid-row: 1;
}

.filter_rating{
    grid-column-start: 3;
    grid-row: 1;
}

.product{
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (15, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
}
.product1, .product2{
    grid-column-start: 2;
    grid-row: 1.75;
    margin-top: 1.5em;
}
.product img{
    width: 22em;
    padding: 15px;
    float: right;
}
h1{
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 0.10em;

}
h3{
    font-size: 1.25em;
    font-family: 'Bebas Neue', cursive;
}
a, .material-icons{
    color: salmon;
    text-decoration: none;
    cursor: pointer;
}
p {
    font-size: 14px;
    width: 400px;
    margin-top: 1em;
}
fieldset{
    margin-top: 2em;
    list-style: none;
}
fieldset li{
    display: inline;
    justify-content: space-between;
}
.product_pages li {
    list-style: none;
    display: inline-block;
    padding: 1.5em;
}
.product_pages{
    text-align: center;
    list-style: none;
}
.extras li {
    display: inline-block;
    margin: 1em;
    position: sticky;
  }
.social img{
    padding: 0.25em;
    width: 2.5em;
}

@media screen and (min-width: 200px) and (max-width: 450px){
    .product img{
    width: 200px;
    float: left;
    }

    .menu{
        width: 200px;
    }

@media screen and (min-width: 550px) {
  
.product{
display: inline-block;
}
  